div.div_page {width: 1000px;display: block;margin: auto;}
div.div_page div.div_header {display: block;height: 280px;background-color: #88afff;}
div.div_page div.div_content {min-height: 400px;}
div.div_page div.div_footer {min-height: 200px;background-color: #88afff;margin-bottom: 20px;padding-top: 20px;}