
@import url(admin.reset.css);

body,html{height: 100%;width: 100%;}
.div_all{min-height: 100%;padding: 0px 0px 0px 200px;overflow: hidden;position: relative;left: 0;top: 0;}
.div_all div{padding-bottom:10000px;margin-bottom:-10000px;}
.div_menu{height: 100%;width: 200px;background: #4488DD;display: block;margin-left:-200px;float: left;}
.div_menu>ul{padding-top: 50px;}
.div_menu>ul>li{width:100%;height:48px;cursor: pointer;color: #FFFFFF;}
.div_menu>ul>li.active,.div_menu ul li:hover{background-color: #1F5FAF;}
.div_menu>ul>li>span{float: left;display: block;line-height: 48px;font-weight: 600;}
.div_menu>ul li.selected{background-color: #2F6FBF;}
.div_menu>ul>li.active span.selected,.div_menu>ul>li:hover span.selected{margin: 10px auto;width: 0px;height: 0px; border: solid transparent;border-width:13px 9px;border-right-color:#E9F0F9;display: block;float: right;right: 0;}
.div_menu>ul>li .icon{width: 32px;height: 32px;margin: 6px 12px;}
.div_menu ul li .attach{background-image: url(../images/attach_w.png)}
.div_menu ul li .content{background-image: url(../images/cate_w.png)}
.div_menu ul li .refresh{background-image: url(../images/refresh_w.png)}
.div_menu ul li .home{background-image: url(../images/home_w.png)}
.div_menu ul li .user{background-image: url(../images/user_w.png)}
.div_menu ul li .set{background-image: url(../images/set_w.png)}
.div_menu ul li .review{background-image: url(../images/review_w.png)}

.sub_menu{display: block;height: 48px;line-height: 48px;width: 100%;background: url('../images/line.png') repeat-y 30px 0px fixed ;}
.div_menu>ul>li.sub_menu>span{float: left;display: block;font-weight: normal;padding-left: 58px;}
.sub_menu:nth-child(2n){background-color: #3377CC;}
.sub_menu:nth-child(2n+1){background-color: #3388DD;}
.div_content{display:block;float: left;height: 100%;width: 100%;}
