
@import url(admin.reset.css);

body,html{height: 100%;width: 100%;}
.div_all{min-height: 100%;padding: 0px 0px 0px 210px;overflow: hidden;position: relative;left: 0;top: 0;}
.div_all div{padding-bottom:10000px;margin-bottom:-10000px;}
.div_menu{height: 100%;width: 60px;background: #4488DD;display: block;margin-left:-210px;float: left;}
.div_menu ul{padding-top: 50px;}
.div_menu ul li{width:60px;height:46px;cursor: pointer;color: #FFFFFF;padding-top: 14px;}
.div_menu ul li span{width: 32px;height: 32px;margin: auto;display: block;}
.div_menu ul li.attach span{background-image: url(../images/attach_w.png)}
.div_menu ul li.content span{background-image: url(../images/cate_w.png)}
.div_menu ul li.refresh span{background-image: url(../images/refresh_w.png)}
.div_menu ul li.home span{background-image: url(../images/home_w.png)}
.div_menu ul li.user span{background-image: url(../images/user_w.png)}
.div_menu ul li:hover{background-color: #F2F2F2;color: #4488DD;}
.div_menu ul li.attach:hover span{background-image: url(../images/attach_b.png)}
.div_menu ul li.content:hover span{background-image: url(../images/cate_b.png)}
.div_menu ul li.refresh:hover span{background-image: url(../images/refresh_b.png)}
.div_menu ul li.home:hover span{background-image: url(../images/home_b.png)}
.div_menu ul li.user:hover span{background-image: url(../images/user_b.png)}
.div_menu ul li.active{background-color: #F2F2F2;color: #4488DD;}
.div_menu ul li.attach.active span{background-image: url(../images/attach_b.png)}
.div_menu ul li.content.active span{background-image: url(../images/cate_b.png)}
.div_menu ul li.refresh.active span{background-image: url(../images/refresh_b.png)}
.div_menu ul li.home.active span{background-image: url(../images/home_b.png)}
.div_menu ul li.user.active span{background-image: url(../images/user_b.png)}
.div_sub_menu{background-color: #F2F2F2;width: 150px;margin-left:-150px;float: left;position: relative;height: 100%;float: left;}
.div_sub_menu>span{font-size: 40px;color: #575757;width: 100%;text-align:center;display: block;padding: 30px 0;}
.div_sub_menu ul li{padding-left: 20px; line-height: 28px;cursor: pointer;color: #575757;font-weight: 600;border-bottom: solid #E6E6E6 2px;}
.div_sub_menu ul li:hover{background-color: #FFFFFF;color: #575757;}
.div_sub_menu ul li.active{background-color: #FFFFFF;color: #575757;}
.div_content{display:block;float: left;height: 100%;width: 100%;}