
@import url(admin.reset.css);

body{padding-top: 50px;background-color: #E9F0F9;}
.page_title{padding: 5px 20px 40px 15px;}
.page_title h2{font-size: 32px;margin-bottom: 10px;color: #575757;}
.page_title span a{font-size: 14px;}
.admin_title{background-color: #F8FAFC;line-height: 40px;font-size: 20px;}
.admin_title .home_icon{width: 20px;height: 20px;display: block;float: left;background-image: url('../images/home_b_20.png');margin-top: 9px;margin-left: 9px;margin-right: 9px;}

.page_content{padding: 0 20px 0 15px;}
.page_content .table_title{height: 32px;width: 100%;padding:4px 0;background-color: #66BBFF; }
.page_content .table_title i{width: 32px;height: 32px;margin-left:4px;margin-right: 5px;display: block;float: left;}
.page_content .table_title .table_icon{background-image: url('../images/table_32.png');}
.page_content .table_title .content_icon{background-image: url('../images/content_32.png');}
.page_content .table_title span{height: 32px;display: block;float: left;line-height: 32px;font-weight: 600;color: #FFFFFD;}
.page_content .p_tools a{float: right;margin-bottom: 10px;margin-right: 30px;}
.page_content .ul_table{list-style: none; display: table;width: 100%;color: #575757;}
.page_content .table_body{padding: 15px 10px;background-color: #FFFFFF;width: auto;min-height: 650px;}
.page_content form .table_body .ul_table{width: auto;margin: auto;min-width: 600px;}
.page_content form .table_body .p_title{text-align: center;}
.page_content .table_body .ul_table li{display: table-row;}
.page_content form .table_body .ul_table li{border: #DDDDDD solid 1px;vert-align: top;}
.page_content form .table_body .ul_table li span{min-width: 150px;padding: 8px 10px;}
.page_content .table_body .ul_table>li.table_th b{display: table-cell;background-color: #DDDDDD;line-height: 28px;padding-left: 5px;}
.page_content .table_body .ul_table>li.table_th b.status_child{width: 5px;}
.page_content .table_body .ul_table>li.table_body:nth-child(2n+1){background-color: #EEEEEE;}
.page_content .table_body .ul_table>li.table_body:nth-child(2n){background-color: #FFFFFF;}
.page_content .table_body .ul_table>li>span{display: table-cell;border-bottom: #DDDDDD solid 1px;vertical-align: top;line-height: 32px;height: 32px;padding-left: 5px;}
.page_content>.table_body>.ul_table>li>span:not(:last-child){max-width: 250px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.page_content .table_body .ul_table>li>span:last-child{padding-right: 10px;}
.page_content form .table_body .ul_table>li>span:nth-child(1){text-align: right;}
.page_content form .table_body .ul_table>li>span textarea{resize: none;width: 1000px;height: 200px;border: solid #DDDDDD 1px;}
.page_content form .table_body p a{background-color: #FFA25F;font-size: 18px;line-height: 40px;width:180px;color: #FFFFFF;display: block;margin: 15px auto;}

.page_content .ul_table>li>span i{float: left;margin: 4px 6px;cursor: pointer;}
/*按钮样式*/
.edit_btn{background-image: url('../images/edit_b_28.png');display: block;width: 28px;height: 28px;}
.nshow_btn{background-image: url('../images/nshow_g_28.png');display: block;width: 28px;height: 28px;}
.show_btn{background-image: url('../images/show_b_28.png');display: block;width: 28px;height: 28px;}
.delete_btn{background-image: url('../images/delete_r_28.png');display: block;width: 28px;height: 28px;}
.add_btn{background-image: url('../images/add_b_28.png');display: block;width: 28px;height: 28px;}
.publish_btn{background-image: url('../images/publish_b_28.png');display: block;width: 28px;height: 28px;}
.edit_btn:hover,.nshow_btn:hover,.show_btn:hover,.delete_btn:hover,.add_btn:hover,.publish_btn:hover{background-color: #DDDDDD;}

/*分页样式*/
.cur_page{background-color: #00b7ee;}
.div_page{padding-top: 5px;width: 100%;text-align: center;}
.page{border: 1px solid #575757;margin: 0 5px;padding: 0 5px;}